/* CSS files add styling rules to your content */
html {
  size: 50px;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: purple;
}

div {
  display: block;
}

button {
  display: inline-block;
  vertical-align: middle;
/*   cursor: pointer; */
  
  /* This controls how tall the buttons will appear.
      What does 'inherit' value do? */
  line-height: 2.5;
  
  color: hotpink;
}