/* CSS files add styling rules to your content */
html {
  size: 25px;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

div {
  display: block;
}

.button_col {
  height: var(--size);
  width: var(--size);
}