/* CSS files add styling rules to your content */
html {
/*   --size: 50px;
  --light: #F7E6DA;
  --purple: #09315d; */
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background: #d4ff70;
}

h1 {
  font-style: italic;
  color: purple;
}

div {
  display: block;
}

/* class representing the leftmost
   element on each row, labeling the pitch */
.piano-key {
  padding: 0;
  font-size: 12px !important;
  margin-right: 4px;
  font-family: monospace;
}

/* class representing the squares which
   fill in every row */
.pixel {
  height: 12px;
  width: 12px;
  padding: 0;
  border: none;
  margin: 1px;
  background: #c4f5ff;
}

/* color the 1st beat of every measure slightly darker.
   This rule should win over the general .pixel selector
   rule, but lose to the rules on hover state & cell 
   activation
*/
.container .row .pixel:nth-child(4n+2) {
  background: #b8e9f2;
}

/* make pixels opaque when in hovered-over state */
.pixel:hover {
  opacity: 0.7;
}

/* chained selectors for pixels in activated state.
   I think we need an !important modifier because this rule
   is less specific, on its own, than the rule for the start
   beats of every measure. */
.pixel.voice {
  background: #000000 !important;
}

.pixel.infill {
  background: #b26bdb !important;
}
